h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.wysiwyg-editor h1, .pixpa-heading-content h1, .is-wrapper h1, .u78690-heading-text, .u78690-heading1-text, .list-title-heading h1, .u78690-welcomeheading1-text{
  font-family: Oswald, sans-serif;
  color: #2d2d2d;
  font-size: 16px;
  font-weight: 400;
  line-height: 0,4em;
  letter-spacing: 0.2em;
  fill: #2d2d2d;
}

.wysiwyg-editor h2, .pixpa-heading-content h2, .u78690-primary-mobile-bg, .u78690-primary-text, .u78690-byline-text, .u78690-heading2-text, .list-title-heading h2, .u78690-welcomeheading2-text{
  font-family: Public Sans, sans-serif;
  color: #545454;
  font-size: 56px;
  font-weight: 700;
  line-height: 0,4;
  letter-spacing: .02em;
  fill: #545454;
}

.wysiwyg-editor h3, .pixpa-heading-content h3, .u78690-heading3-text, .list-title-heading h3 {
  font-family: Public Sans, sans-serif;
  color: #4f4e4e;
  font-size: 30px;
  border-color: #4f4e4e;
  font-weight: 700;
  line-height: 0,4;
  letter-spacing: .01em;
}

.wysiwyg-editor h4, .pixpa-heading-content h4, .u78690-heading4-text, .list-title-heading h4 {
  font-family: Public Sans, sans-serif;
  color: #4f4e4e;
  font-size: 57px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: .01em;
}

.wysiwyg-editor h5, .pixpa-heading-content h5 {
  font-family: Public Sans, sans-serif;
  color: #545454;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: .02em;
}

.wysiwyg-editor h6, .pixpa-heading-content h6 {
  font-family: Public Sans, sans-serif;
  color: #4f4e4e;
  border-color: #4f4e4e;
  font-size: 15px;
  font-weight: 700;
  line-height: 0,4;
  letter-spacing: .01em;
}

.wysiwyg-editor p, .pixpa-heading-content p, .u78690-secondary-text, .lg-text-html, .lg-sub-html, .pixpa-lg-sub-html, .list-title-heading p, .blog-post-item .navigation-blocks a.u78690-secondary-text-large {
  font-family: Public Sans, sans-serif;
  color: #343434;
  font-size: 12px;
  font-weight: 400;
  line-height: 1,8em;
  letter-spacing: 0em;
}

.pixpa-heading-content p.secondary-text-small {
  font-size: 13px;
}

.pixpa-heading-content p.secondary-text-large{
  font-size: 22px;
}

.cover_slider_lightgallery .banner-down-arrow-txt{
  color: #343434;
}

.wysiwyg-editor blockquote, #contentarea blockquote, .is-wrapper blockquote {
  font-family: Public Sans, sans-serif;
  color: #4f4e4e;
  font-size: 30px;
  border-color: #4f4e4e;
  font-weight: 700;
  line-height: 0,4;
}

.wysiwyg-editor blockquote:before, .wysiwyg-editor blockquote:after ,
#contentarea blockquote:before, #contentarea blockquote:after, .is-wrapper blockquote:before, .is-wrapper blockquote:after {
  background: rgba(79,78,78, 0.2);
}

#contentarea {
  background:rgba(255,255,255,1);
}

.is-wrapper h1, #contentarea  h1, #contentarea  h4{
  color: #2d2d2d;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  line-height: 0,4em;
  letter-spacing: 0.2em;
}

#contentarea  h1 span, #contentarea  h1 p, #contentarea  h4 span, #contentarea  h4 p,
#contentarea  h1 a, #contentarea  h1 span a, #contentarea  h1 p a:not(.u78690-secondary-text), 
#contentarea  h4 a, #contentarea  h4 span a, #contentarea  h4 p a, .is-wrapper h1 span, .is-wrapper h1 p:not(.u78690-secondary-text), .is-wrapper h1 a:not(.u78690-secondary-text), .is-wrapper h1 span a, .is-wrapper h1 p a, .is-wrapper h4 p:not(.u78690-secondary-text){
  font-family: Oswald, sans-serif;
  font-weight: 400;
}

#contentarea  h1 a:hover:not(.u78690-secondary-text), #contentarea  h4 a:hover:not(.u78690-secondary-text), #contentarea  h1 span a:hover:not(.u78690-secondary-text), #contentarea  h4 span a:hover:not(.u78690-secondary-text), #contentarea  h1 p a:hover:not(.u78690-secondary-text), #contentarea  h4 p a:hover:not(.u78690-secondary-text), .is-wrapper h1 a:hover:not(.u78690-secondary-text), .is-wrapper h4 a:hover:not(.u78690-secondary-text), .is-wrapper h1 span a:hover:not(.u78690-secondary-text), .is-wrapper h4 span a:hover:not(.u78690-secondary-text), .is-wrapper h1 p a:hover:not(.u78690-secondary-text), .is-wrapper h4 p a:hover:not(.u78690-secondary-text){
  color: #888;
  color: #000000;
  font-family: Oswald, sans-serif;
}

#contentarea h1, #contentarea h1 span:not(.u78690-secondary-text), #contentarea  h1 p:not(.u78690-secondary-text), .is-wrapper  h1, .is-wrapper  h1 span:not(.u78690-secondary-text), .is-wrapper  h1 p:not(.u78690-secondary-text) {
  font-size: 16px;
}

#contentarea  h4, #contentarea  h4 span:not(.u78690-secondary-text), #contentarea  h4 p:not(.u78690-secondary-text){
  font-size: 8px;
}

#contentarea  h2, #contentarea  h5,.is-wrapper  h2, .is-wrapper  h5  {
  color: #545454;
  font-family: Public Sans, sans-serif;
  font-weight: 700;
  letter-spacing: .02em;
}

#contentarea  h2 span, #contentarea  h5 span, #contentarea  h2 p, #contentarea  h5 p, .is-wrapper  h2 span:not(.u78690-secondary-text), .is-wrapper  h5 span:not(.u78690-secondary-text), .is-wrapper  h2 p:not(.u78690-secondary-text), .is-wrapper  h5 p:not(.u78690-secondary-text){
  font-family: Public Sans, sans-serif;
  font-weight: 700;
}

#contentarea  h2, #contentarea  h2 span:not(.u78690-secondary-text), #contentarea  h2 p:not(.u78690-secondary-text), .is-wrapper  h2, .is-wrapper  h2 span:not(.u78690-secondary-text), .is-wrapper  h2 p:not(.u78690-secondary-text) {
  font-size: 56px;
}

#contentarea  h5, #contentarea  h5 span, #contentarea  h5 p, .is-wrapper  h5, .is-wrapper  h5 span:not(.u78690-secondary-text), .is-wrapper  h5 p:not(.u78690-secondary-text){
  font-size: 28px;
}


#contentarea  h6 span, #contentarea  h3 p, #contentarea  h6 p, .is-wrapper  h3, .is-wrapper  h6, .is-wrapper  h3 span:not(.u78690-secondary-text) {
  font-family: Public Sans, sans-serif;
  font-weight: 700;
}

#contentarea  h3, #contentarea  h3 span, #contentarea  h3 p, .is-wrapper  h3, .is-wrapper h3 span:not(.u78690-secondary-text), .is-wrapper  h3 p {
  font-size: 30px;
}

#contentarea  h6, .is-wrapper  h6 {
  font-size: 15px;
}

#contentarea  p, #contentarea  span, #contentarea  li, #contentarea  small, .is-wrapper li, .is-wrapper small {
  color: #343434;
  font-family: Public Sans, sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0em;
}

#contentarea  a, .is-wrapper a:not(.u78690-secondary-text, .pxp-block-content) {
  font-family: Public Sans, sans-serif;
  color: #aaa;
  transition: all 0.25s ease-in-out;
  color: #727272;
}

#contentarea  a:hover, .is-wrapper a:hover:not(.u78690-secondary-text, .pxp-block-content) {
  font-family: Public Sans, sans-serif;
  color: #888;
  color: #000000;
}

.is-wrapper h4 {
  font-family: Public Sans, sans-serif;
  font-weight: 700;
  color: #4f4e4e;
  font-size: 57px;
  line-height: 1em;
  letter-spacing: .01em;
  fill: #4f4e4e;
}

.is-wrapper h4 span:not(.u78690-secondary-text), .is-wrapper  h4 p:not(.u78690-secondary-text){
  font-family: Public Sans, sans-serif;
  font-weight: 700;
  color: #4f4e4e;
}

.is-wrapper h2, .is-wrapper h5 {
  color: #545454;
  font-family: Public Sans, sans-serif;
  font-weight: 700;
  line-height: 0,4;
  fill: #545454;
  letter-spacing: .02em;
}

.is-wrapper h2 {
  font-size: 56px;
}

.is-wrapper h5 {
  font-size: 28px;
}

.is-wrapper h3, .is-wrapper h6 {
  color: #4f4e4e;
  font-family: Public Sans, sans-serif;
  font-weight: 700;
  line-height: 0,4;
  fill: #4f4e4e;
  letter-spacing: .01em;
}

.is-wrapper h3 {
  font-size: 30px;
}

.is-wrapper h6 {
  font-size: 15px;
}

.is-wrapper p:not(.u78690-secondary-text), .is-wrapper li, .is-wrapper small{
  color: #343434;
  font-family: Public Sans, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1,8em;
  letter-spacing: 0em;
}

.is-wrapper h1 span:not(.u78690-secondary-text), .is-wrapper h1 p:not(.u78690-secondary-text) {
  color: #2d2d2d;
  font-family: Oswald, sans-serif;
  font-weight: 400;
}

.is-wrapper h1 span:not(.u78690-secondary-text), .is-wrapper h1 p:not(.u78690-secondary-text) {
  font-size: 16px;
}


.is-wrapper h2 span:not(.u78690-secondary-text), .is-wrapper h5 span:not(.u78690-secondary-text), .is-wrapper h2 p, .is-wrapper h5 p:not(.u78690-secondary-text) {
  font-family: Public Sans, sans-serif;
  font-weight: 700;
}

.is-wrapper h2 span:not(.u78690-secondary-text), .is-wrapper h2 p:not(.u78690-secondary-text) {
  font-size: 56px;
}

.is-wrapper h5 span:not(.u78690-secondary-text), .is-wrapper h5 p:not(.u78690-secondary-text) {
  font-size: 28px;
}

.is-wrapper h3 span:not(.u78690-secondary-text), .is-wrapper h6 span:not(.u78690-secondary-text), .is-wrapper h3 p:not(.u78690-secondary-text), .is-wrapper h6 p:not(.u78690-secondary-text) {
  font-family: Public Sans, sans-serif;
  font-weight: 700;
}

.is-wrapper h3 span:not(.u78690-secondary-text), .is-wrapper h3 p:not(.u78690-secondary-text) {
  font-size: 30px;
}

.is-wrapper h6 span:not(.u78690-secondary-text), .is-wrapper h6 p:not(.u78690-secondary-text) {
  font-size: 15px;
}

@media  screen and (max-width: 767px) {

  
      .wysiwyg-editor h2 {
      font-size: 33.6px;
      margin: 8.4px auto;
    }
    .wysiwyg-editor h5 {
      font-size: 16.8px;
      margin: 4.2px auto;
    }
    #contentarea  h2, #contentarea  h2 span, #contentarea  h2 p, .is-wrapper  h2, .is-wrapper  h2 span, .is-wrapper  h2 p, .is-wrapper h2{
      font-size: 33.6px;
    }
    #contentarea  h5, #contentarea  h5 span, #contentarea  h5 p, .is-wrapper  h5, .is-wrapper  h5 span, .is-wrapper  h5 p {
      font-size: 16.8px;
    }
  
      .wysiwyg-editor h3, .wysiwyg-editor blockquote {
      font-size: 25.5px;
      margin: 6.375px auto;
    }
    .wysiwyg-editor h6 {
      font-size: 12.75px;
      margin: 3.1875px auto;
    }
    #contentarea  h3, #contentarea  h3 span, #contentarea  h3 p, .is-wrapper  h3, .is-wrapper  h3 span, .is-wrapper  h3 p, .is-wrapper h3 {
      font-size: 25.5px;
    }
    #contentarea  h6, #contentarea  h6 span, #contentarea  h6 p, .is-wrapper  h6, .is-wrapper  h6 span, .is-wrapper  h6 p {
      font-size: 12.75px;
    }
  
  }

#contentarea input[type="text"], #contentarea input[type="number"], #contentarea textarea, #contentarea .form-snippit-submit, .is-wrapper input[type="text"], .is-wrapper input[type="number"], .is-wrapper textarea, .is-wrapper .form-snippit-submit, .wysiwyg-editor input[type="text"], .wysiwyg-editor input[type="number"], .wysiwyg-editor textarea, .wysiwyg-editor .form-snippit-submit  {
  color: #343434;
  font-family: Public Sans, sans-serif, sans-serif !important;
  border: 1px solid rgba(52,52,52, 0.2);
}

#contentarea input::placeholder, #contentarea textarea::placeholder, .is-wrapper input::placeholder, .is-wrapper textarea::placeholder, .wysiwyg-editor input::placeholder, .wysiwyg-editor textarea::placeholder{
  color: rgba(52,52,52, 0.7);
}

#contentarea input:-ms-input-placeholder, #contentarea textarea:-ms-input-placeholder, .is-wrapper input:-ms-input-placeholder, .is-wrapper textarea:-ms-input-placeholder,.wysiwyg-editor input:-ms-input-placeholder, .wysiwyg-editor textarea:-ms-input-placeholder {
  color: rgba(52,52,52, 0.7);
}
#contentarea input::-webkit-input-placeholder, #contentarea textarea::-webkit-input-placeholder, .is-wrapper input::-webkit-input-placeholder, .is-wrapper textarea::-webkit-input-placeholder,
.wysiwyg-editor input::-webkit-input-placeholder, .wysiwyg-editor textarea::-webkit-input-placeholder {
  color: rgba(52,52,52, 0.7);
}

#contentarea .store-listing-overlay, .is-wrapper .store-listing-overlay {
  background-color: rgba(163,163,163, 0.96);
}
#contentarea .store-listing-overlay .store-overlay-content h3, #contentarea .store-listing-overlay .store-overlay-content p,  #contentarea .store-listing-overlay .store-overlay-content a, .is-wrapper .store-listing-overlay .store-overlay-content h3, .is-wrapper .store-listing-overlay .store-overlay-content p,  .is-wrapper .store-listing-overlay .store-overlay-content a {
  color: #ffffff;
}
#contentarea .store-listing-overlay .store-overlay-content a, .is-wrapper .store-listing-overlay .store-overlay-content a {
  border-color: #a3a3a3;
}


*:-webkit-full-screen {
  background-color: rgb(255,255,255);
  color: #3e3e3e;
}


.u78690-site-bg-color {
  background-color: rgba(255,255,255,1);
}

.u78690-site-stage-color {
  background-color: rgba(255,255,255,0);
}

.is-wrapper .is-section{
  background-color: rgba(255,255,255,0);
}

.u78690-header-bg-color {
  background-color: rgba(255,255,255,1);
}

.u78690-header-mobilebg-color{
  background-color: rgba(255,255,255);
}

.u78690-header-bg-nocolor {
  background-color: rgba(255,255,255,0);
}

.u78690-header-bg-color .horizon-menu-close {
  color: #797979;
  fill: #797979;
}

.u78690-header-bg-color.empty-state-active {
  background-color: #ffffff;
}

.u78690-header-bg-color.sticky-active {
  background-color: rgba(255,255,255,0.90);
}

.u78690-header-bg-color.proofing-sticky-active {
  background-color: rgba(255,255,255, 1);
}

.u78690-header-bg-color .user-logo a, .u78690-header-bg-color .object-menu a, .u78690-header-bg-color .broadway-menu a, .u78690-sandwich-menu a, .u78690-header-bg-color .user-logo-custom a, .passkey-user-logo .user-logo a, .header-title-text{
  font-family: Public Sans, sans-serif;
  color: #797979;
  font-size: 20px;
  font-weight: 400;
  fill:  #797979;
  letter-spacing: .02em;
}
.u78690-header-bg-color .user-logo .menu-icon svg, .u78690-sandwich-menu a .menu-icon svg{
  fill:  #797979;
}
.passkey-user-logo .user-logo a, .passkey-user-logo .user-logo-custom a, .header-title-text a, .header-title-text a:hover{
  color: #797979;
}

.u78690-header-bg-color .object-menu a, .u78690-header-bg-color .broadway-menu a, .u78690-sandwich-menu a{
  font-family: Public Sans, sans-serif;
}

.u78690-header-bg-color .object-menu a, .u78690-header-bg-color .broadway-menu a{
  font-size: 12px;
}

  .u78690-sandwich-menu a {
    font-size: 14px;
  }
  .u78690-sandwich-menu .mob-menu a {
    font-size: 22px;
  }

.u78690-sandwich-menu.u78690-primary-mobile-bg span, .u78690-sandwich-menu.u78690-primary-mobile-bg span:after, .u78690-sandwich-menu.u78690-primary-mobile-bg span:before {
  background: #797979;
  fill: #797979;
}

  a, a.svg-color .menu-svg-icon svg{
    color: #727272;
    fill: #727272;
  }
  a:hover {
    color: #000000;
  }
  a.category-active {
    color: #000000;
    border-bottom: 1px solid #000000;
  }



.u78690-footer-bg-color {
  background-color: rgba(255,255,255, 1);
  font-family: Open Sans, sans-serif;
  color: #9b9b9b;
  fill: #9b9b9b;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0em;
}
.u78690-footer-bg-color.column-2-container-footer .container-footer-spacing{
  font-size: 14px;
}

.u78690-footer-bg-color .footer-item {
  line-height: 35px;
  height: 35px;
}

@media  screen and (max-width: 640px) {
  .u78690-footer-bg-color .footer-item {
    line-height: 28px;
    height: auto;
  }
}

.u78690-footer-bg-color a {
  color: #9b9b9b;
  fill: #9b9b9b;
}

.u78690-footer-logo-size .user-logo-footer a {
  font-size: 20px;
  font-family: Public Sans, sans-serif;
}

@media  screen and (min-width: 769px) {
  .u78690-primary-menu-bg .nav-list .proofing-options .clients-icon a, .u78690-primary-menu-bg .nav-list .proofing-options .clients-icon svg {
    color: #797979;
    font-size: 1em;
    fill: #797979;
  }
}

.u78690-primary-menu-bg .nav-list .proofing-options .clients-icon a:hover {
  color: #4d4d4d;
}

.u78690-primary-menu-bg .nav-list .proofing-options .clients-icon .proofing-menus a {
  color: #545454;
  font-size: 16px;
}

.u78690-primary-menu-bg .nav-list .proofing-options .clients-icon .proofing-menus a:hover {
  color: #898989;
}

.u78690-primary-menu-bg {
  background: rgba(255,255,255, 0);
  font-family: Public Sans, sans-serif;
  font-weight: 400;
}

.u78690-primary-menu-bg.u78690-header-bg-color{
  background-color: rgba(255,255,255,1);
}

.u78690-primary-menu-border{
  border-top: 1px solid rgba(121,121,121, 0.2);
  border-bottom: 1px solid rgba(121,121,121, 0.2);
}

@media  screen and (max-width: 1024px) {
  .u78690-primary-menu-bg {
                  background: rgba(255,255,255, 1);
            }
}

.u78690-primary-mobile-bg span, .u78690-primary-mobile-bg span:before, .u78690-primary-mobile-bg span:after, .header .header-wrapper .pixpa-burger-inner::before, .header .header-wrapper .pixpa-burger-inner::after{
  background: #797979;
}

.u78690-primary-menu-bg .nav-list-common a,  .header-nav-item a, .header-nav-item .menu-icon svg, .header-actions-item:not(.header-action-cta) a, .header-title-nav-mobile-wrapper .mobile-menu-close, .u78690-primary-menu-bg .nav-list-common .menu-group-items, .header-nav-item-is-group > .menu-group-items, .header-action-cart-search .search-input-container{
  color: #797979;
  font-size: 13px;
  fill: #797979;
  letter-spacing: .02em;
}

.header-action-cart-search .search-input-container .u78690-secondary-text-small{
  font-size: 13px;
}

.header-action-cart-search .search-input-container input{
  border: 1px solid rgba(121,121,121, 0.2);
}

.nav-list-common .drop-group:after{
  color: #797979;
  font-size: 13px;
}


.themes-v2-container-layout-10 .themes-v2-container-inner .header-nav-item-is-dropdown .header-nav-item-is-group.drop-text:after{
  color: #797979;
  font-size: 13px;
}

.u78690-primary-menu-bg .nav-list-common a .menu-svg-icon, .u78690-primary-menu-bg .nav-list-common a.menu-icon svg{
  fill: #797979;
  
}

.u78690-primary-menu-bg.bypass-header-yes .nav-list-common a, .u78690-primary-menu-bg.bypass-header-yes .nav-list-common a:hover {
  color: #fff;
}


.proffing-header-clone.u78690-header-bg-color .user-logo, .proffing-header-clone.u78690-header-bg-color .user-logo-custom{
  font-family: Public Sans, sans-serif;
  color: #797979;
  font-weight: 400;
}
.proofing-user-links.u78690-primary-menu-bg .nav-list .proofing-options .clients-icon a, .proofing-header-spacing .u78690-primary-menu-bg .nav-list .proofing-options .clients-icon a {
  font-size: 16px;
  padding: 2px 0.2em 0;
}

@media  screen and (max-width: 1024px) {
  .proofing-user-links.u78690-primary-menu-bg .nav-list .proofing-options .clients-icon a, .proofing-header-spacing .u78690-primary-menu-bg .nav-list .proofing-options .clients-icon a {
    padding: 0px 0.2em 0
  }
}

.proofing-user-links.u78690-primary-menu-bg .nav-list .proofing-options .clients-icon a i, .proofing-header-spacing .u78690-primary-menu-bg .nav-list .proofing-options .clients-icon a i{
  font-size: 21px;
}

.proofing-user-links.u78690-primary-menu-bg .nav-list-common a,
.proofing-header-spacing .u78690-primary-menu-bg .nav-list-common a, .proofing-header-spacing .u78690-primary-menu-bg .nav-list .proofing-options .clients-icon .proofing-menus a{
  font-size: 14px;
  padding: 2px 0.5em;
  letter-spacing: 0;
}

.proofing-header-spacing.u78690-header-bg-color .user-logo a, .proofing-header-spacing.u78690-header-bg-color .user-logo-custom a {
  font-size: 16px;
}

.aurora-header .user-logo-custom.user-fav-logo h1 a{
  font-size: 20px;
}

.proofing-header-spacing .u78690-primary-menu-bg .nav-list .proofing-options .clients-icon .proofing-menus a{
 padding: 10px 0.5em
}


.u78690-primary-menu-bg .nav-list-common .social-container-inner a {
  font-size: 20px;
}

.u78690-primary-menu-bg .nav-list-common.search-btn a, .u78690-primary-menu-bg .nav-list-common.common-store-btn a{
  font-size: 20px
}

.u78690-primary-menu-bg.social-media-center a {
  color: #797979;
  font-size: 13px;
  fill: #797979;
}

.u78690-primary-menu-bg.social-media-center a .menu-svg-icon, .u78690-primary-menu-bg.social-media-center a .menu-icon{
  fill: #797979;
}

.u78690-primary-menu-bg.social-media-center a:hover {
  color: #4d4d4d;
}

  .u78690-primary-menu-bg .nav-list-common .cur-active-link, .u78690-header-bg-color.header .header-wrapper .header-inner .header-nav .header-nav-wrapper .header-nav-item > a.cur-active-link, .header-nav-item a.cur-active-link svg, .u78690-header-bg-color.header .header-inner .header-nav-wrapper .header-nav-item > a.cur-active-link,  .u78690-header-bg-color.header .header-inner .header-nav-wrapper .header-nav-item.header-nav-item-is-dropdown .header-nav-item-is-group a.cur-active-link, .u78690-header-bg-color.header .header-inner .header-nav-wrapper .header-nav-item.header-nav-item-is-dropdown .header-nav-item-is-group.cur-active-link .menu-group-items {
    color: #000000;
    fill: #000000;
  }

  .milestone-menu-close .menu-svg-icon, .ground-menu-close .menu-svg-icon, .fable-menu-close .menu-svg-icon{
    fill: #000000;
  }

  .u78690-header-bg-color.header .header-wrapper .header-inner .header-nav .header-nav-wrapper .header-nav-item > a.cur-active-link, .u78690-header-bg-color.header .header-inner .header-nav-wrapper .header-nav-item > a.cur-active-link, .u78690-header-bg-color.header .header-inner .header-nav-wrapper .header-nav-item.header-nav-item-is-dropdown .header-nav-item-is-group.cur-active-link{
          border-bottom: 1px solid #000000;
      }

  @media  screen and (min-width: 1025px){
    .bypass-header-yes .header-nav-item > a.cur-active-link{
              border-bottom: 1px solid #fff !important;
          }
  }



  
  
  .u78690-primary-menu-bg .nav-list-common a:hover{
    color: #4d4d4d;
    background: rgba(255,255,255, 0);
  }
  .u78690-primary-menu-bg .is-dropdown:hover > a {
   color: #4d4d4d;
   background: rgba(255,255,255, 0);
  }
  .u78690-primary-menu-bg .nav-list-common a.separator-block:hover {
    color: #797979;
    background: rgba(255,255,255, 0);
  }

  .header-actions-item:not(.header-action-cta) a:hover, .header-nav-item a:hover, .header-nav-item a:focus, .u78690-header-bg-color.header .header-wrapper .header-inner .header-nav .header-nav-wrapper .header-nav-item:hover > a{
    color: #4d4d4d;
  }

  .header-nav-item a.separator-block p, .header-nav-item a.separator-block h1, .header-nav-item a.separator-block h2, .header-nav-item a.separator-block h3, .header-nav-item a.separator-block h4, .header-nav-item a.separator-block blockquote , .header-nav-item a.separator-block:hover{
    color: #797979;
  }

  .header-nav-item a.separator-block p.secondary-text-small{
    font-size: 13px;
  }

  .header-nav-item a.separator-block p.secondary-text-large{
    font-size: 22px;
  }
 
  .header-nav-item a:hover svg, .header-nav-item a:focus svg, .header-actions-item:not(.header-action-cta) a:hover svg, .u78690-header-bg-color.header .header-wrapper .header-inner .header-nav .header-nav-wrapper .header-nav-item:hover > a svg{
    fill: #4d4d4d;
  }

  .u78690-header-bg-color.header .header-wrapper .header-inner .header-nav .header-nav-wrapper .header-nav-item > a:hover.separator-block, .u78690-header-bg-color.header .header-wrapper .header-inner .header-nav .header-nav-wrapper .header-nav-item:hover > a.separator-block {
     color: #797979;
  }


.u78690-primary-menu-bg .nav-list-common a.button-on-active-1 {
  border-color: #797979;
  padding: 8px 1em;
}

.u78690-primary-menu-bg .nav-list-common a.button-on-active-1:hover{
  text-decoration: none;
}

.u78690-primary-menu-bg .nav-list-common a.button-on-active-2 {
  border-color: #797979;
  padding: 8px 0.75em;
}

.u78690-primary-menu-bg .nav-list-common a.button-on-active-3 {
  text-decoration: underline;
}

.u78690-primary-menu-bg .nav-list-common a.button-on-active-4 {
  text-decoration: overline;
}

.u78690-primary-menu-bg .nav-list-common a.button-on-active-5 {
  text-decoration: line-through;
}

.u78690-secondary-menu-bg {
  background: rgba(255,255,255, 0);
  font-family: Public Sans, sans-serif;
  font-weight: 400;
}

.u78690-secondary-menu-bg .list-nested-common a, .header-nav-is-dropdown-item a{
  color: #545454;
  font-size: 16px;
  letter-spacing: .02em;
}

.bypass-header-yes .header-nav-layout-8 .header-nav-is-dropdown-item a, .bypass-header-yes .header-nav-layout-9 .header-nav-is-dropdown-item a{
  color: #545454 !important;
}

.bypass-header-yes .header-nav-layout-8 .header-nav-is-dropdown-item a:hover, .bypass-header-yes .header-nav-layout-9 .header-nav-is-dropdown-item a:hover{
  color: #898989 !important;
}

.u78690-secondary-menu-bg .header-nav-is-dropdown-item a:hover{
  color: #898989;
}

  .u78690-secondary-menu-bg .list-nested-common a:hover, .u78690-secondary-menu-bg .header-nav-is-dropdown-item a:hover{
    color: #898989;
    background: rgba(255,255,255, 0);
  }
  .u78690-secondary-menu-bg .header-nav-is-dropdown-item a:hover{
    background: transparent;
  }

.u78690-primary-text-color-only {
  color: #545454;
}

.u78690-secondary-text-color-only {
  color: #343434;
}

.u78690-primary-text-modal {
  font-family: Public Sans, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .02em;
}

.blog-more-link{
  border-color: #343434;
  color: #343434 !important;
}

.blog-more-link:hover{
  border-color: #343434;;
  color: #343434 ;
}

.faq-p-title-svg{fill: #343434;}

.blog-post-tags p.u78690-secondary-text, .blog-category p.u78690-secondary-text{
  color: rgba(52,52,52, 0.5);
}

.blog-post-tags p.u78690-secondary-text:hover{
  color: rgba(52,52,52, 1);
}

.comment-formfield input.u78690-secondary-text, .comment-textarea textarea.u78690-secondary-text{
  border: 1px solid rgba(52,52,52, 0.1);
  font-size: 12px;
}

.u78690-secondary-text-small, .is-wrapper p.u78690-secondary-text-small, .is-wrapper p.secondary-text-small, .list-title-heading p.u78690-secondary-text-small {
  font-size: 13px;
}

.u78690-secondary-text-large, .is-wrapper p.u78690-secondary-text-large, .is-wrapper p.secondary-text-large, .list-title-heading p.u78690-secondary-text-large{
  font-size: 22px;
}

.proofing-gallery-bar .album-name-url a{color: #343434;}

.u78690-secondary-bgonly-01 {
  background-color: rgba(52,52,52, 0.1);
}

.u78690-secondary-bgonly-05 {
  background-color: rgba(52,52,52, 0.5);
  transition: background-color 0.25s ease;
}

.u78690-secondary-bgonly-05:hover {
  background-color: rgba(52,52,52, 1);
}

.u78690-secondary-text-modal {
  font-family: Public Sans, sans-serif;
  color: rgba(0,0,0,0.7);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0em;
}

.u78690-secondary-text input, .u78690-secondary-text textarea, .u78690-secondary-text select, div.extended-footer .contact-form input[type='text'], div.extended-footer .contact-form input[type='email'], div.extended-footer .contact-form input[type='number'], div.extended-footer .contact-form textarea {
  font-family: Public Sans, sans-serif;
  color: #343434;
  border: 1px solid rgba(52,52,52, 0.2);
  background: rgba(52,52,52, 0);
  font-weight: 400;
  background: none;
}

.selectbox-product span:before{
  border-color: rgba(52,52,52, 0.25);
}

.u78690-secondary-text input::-webkit-input-placeholder, .u78690-secondary-text textarea::-webkit-input-placeholder {
  color: rgba(52,52,52, 0.5);
}

.u78690-secondary-text input[type="submit"], .u78690-secondary-text input[type="button"]  {
  border: 0;
  transition: all 0.25s ease-in-out;
  background: rgba(52,52,52, 0.25);
}

.u78690-secondary-text input[type="submit"]:hover, .u78690-secondary-text input[type="button"]:hover {
  border: 0;
  background: rgba(52,52,52, 0.5);
}

.u78690-secondary-text input[type="submit"].add-to-cart{
  border: 1px solid rgba(52,52,52, 0.25);
  background: none;
}

.u78690-secondary-text input[type="submit"]:hover.add-to-cart {
  background: rgba(52,52,52, 0.1);
}

.u78690-secondary-text input[type="submit"].add-to-cart.is-global-btn{
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: .02em;
  background: #4b4b4b;
}

.u78690-secondary-text input[type="submit"].add-to-cart.is-global-btn{
      border-radius: 0;
    
      background: #4b4b4b;
  }

.u78690-secondary-text input[type="submit"]:hover.add-to-cart.is-global-btn {
      opacity: 0.8;
    color: #ffffff;
  }

.u78690-secondary-text .cart-btn{
  border: 1px solid rgba(52,52,52, 0.25);
}
.u78690-secondary-text .cart-btn:hover{
  background: rgba(52,52,52, 0.1);
}

.u78690-secondary-text table tr td,.u78690-secondary-text table tr th {
  border-color: rgba(52,52,52, 0.07);
}

.u78690-secondary-text table tr td.colspan {
  border-color: rgba(52,52,52, 0.025);
}

.u78690-heading1-text-color {
  color: #2d2d2d;
}

@media  screen and (max-width: 768px) {
  .u78690-heading1-text {
    font-size: 9.6px;
  }
  .u78690-heading3-text {
    font-size: 18px;
  }
}

.u78690-group-view-box{
  font-family: Public Sans, sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.u78690-heading3-text-color {
  color: #4f4e4e;
}

.u78690-overlay-bg-color, .lg-outer.lg-blog-container, .lg-outer {
  background-color: rgba(255,255,255, 1);
  color: #3e3e3e;
}

.u78690-overlay-bg-color-fixed {
  background-color: rgb(255,255,255);
}

.u78690-overlay-text-color, .lg-toolbar .lg-icon, .lg-toolbar, .lg-outer .lg-thumb-outer, .lg-actions .lg-next, .lg-actions .lg-prev, .lg-toolbar-option-proofing span, .single-image-slider .lSAction > a{
  color: #3e3e3e;
  fill: #3e3e3e;
}

.lg-progress-bar .lg-progress{
  background-color: #3e3e3e;
}



.u78690-hover-bg-color {
  background-color: unset;
  order: 76
}

.u78690-hover-bg-color {
  color: unset;
  orphans: 25
}

.u78690-hover-text-color, .dynamic-photo-gallery .image-overlay .u78690-hover-text-color span {
  font-family: Public Sans, sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.u78690-hover-text-color {
  letter-spacing: 0em;
}

.u78690-hover-text-color:hover {
  color: #ffffff;
}

.u78690-hover-text-color svg, .u78690-hover-group-text-color svg{
  width: 45px;
  vertical-align: middle;
  height: -webkit-fill-available;
  height: inherit;
}

.u78690-hover-text-color svg, .u78690-hover-text-color svg g {
  fill: #ffffff; 
}

.u78690-hover-text-color svg.large, .u78690-hover-group-text-color svg.large {
  width: 90px;
  height: inherit;
}

.u78690-hover-text-color svg .cls-1, .u78690-hover-group-text-color svg .cls-1{
  stroke: #ffffff;
  stroke-width: 2px;
}

.u78690-hover-text-color-only, .u78690-hover-text-color-only:hover, .link-description.u78690-hover-text-color-only p, .link-description.u78690-hover-text-color-only h1,.link-description.u78690-hover-text-color-only h2, .link-description.u78690-hover-text-color-only h3, .link-description.u78690-hover-text-color-only h4, .link-description.u78690-hover-text-color-only h5 {
  color: #ffffff;
}

.u78690-hover-bg-gradient-color {
  background: linear-gradient(360deg, #a3a3a3 -15%, transparent 80%);
}

.u78690-hover-bg-only-color {
  background-color: rgba(163,163,163, 0.96);
}

                              



.fc-today.private {
  background: rgba(52,52,52, 0.8);
}
.fc-content.private {
  background: rgba(52,52,52, 0.5);
}

#form-page .public-events .events-item{
  border-color: rgba(52,52,52, 0.2);
}


.u78690-input-text input, .u78690-input-text input.submit-next {
  border: 1px solid rgba(84,84,84, 0.5);
  color: #545454;
  background: none;
}


.u78690-private-logo a {
  font-family: Public Sans, sans-serif;
}

.u78690-primary-text-fontonly {
  font-family: Public Sans, sans-serif;
}
.u78690-secondary-text-fontonly, .lg-toolbar-option-proofing span, .slider-count-wrapper {
  font-family: Public Sans, sans-serif;
}

.group_navigation.u78690-secondary-text svg, .group_navigation.u78690-secondary-text svg path {
  fill : #343434;
}

@media  screen and (min-width: 1024px) { 
  .column-1-container .header-spacing, .fixed-width-container .header-spacing{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 0%;
    padding-right: 0%;
  }

  .full-header.sticky-active, .full-header.horz-header-sticky , .full-header.header-common, .is-header-padding{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 0%;
    padding-right: 0%;
    left: 0;
    top: 0;
  }

  .column-1-container .stage-spacing, .column-1-container .stage-spacing-cover, .full-height-container .stage-spacing, .full-height-container .stage-spacing-cover, .header-site-margin{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0%;
    padding-right: 0%;
  }

  .column-1-container .footer-spacing, .full-height-container .footer-spacing, .fixed-width-container .footer-spacing, .footer-site-margin{
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 0%;
    padding-right: 0%;
  }

  
  
  .column-2-container .header-spacing{
    padding-top: 10vh;
  }
  .column-2-container .header-spacing .footer-spacing{
    padding-bottom: 6vh;
  }

  .column-2-container .stage-spacing{
    padding-top: 10vh;
    padding-bottom: 6vh;
  }

  .column-2-container.column-2-right .stage-body-center{
          margin: 0 auto;
        width: calc(100% - 0% - 0%);
  }
  .column-2-container.column-2-right .sidebar{
    right: 0%;
  }

  .column-2-container.column-2-right .stage-spacing-right{
    width: 0%;
  }
  .column-2-container.column-2-right .stage-spacing-left{
    width: 0%;
  }

  .column-2-container .stage-body-center{
          margin: 0 auto;
        width: calc(100% - 0% - 0%);
  }

  .column-2-container .stage-spacing-right{
    width: 0%;
  }
  .column-2-container .stage-spacing-left{
    width: 0%;
  }

  
  .column-2-container-wrapper{
    padding-left: 0%;
    padding-right: 0%;
  }
  
}

.is-social a > i {
  color: #aaa;
  transition: all 0.25s ease-in-out;
  color: #727272;
}
.is-social a:hover > i {
  color: #888;
  color: #000000;
}


.is-wrapper .is-light-text,
.is-wrapper .is-light-text h1,
.is-wrapper .is-light-text h2,
.is-wrapper .is-light-text h3,
.is-wrapper .is-light-text h4,
.is-wrapper .is-light-text h5,
.is-wrapper .is-light-text h6,
.is-wrapper .is-light-text h1 span,
.is-wrapper .is-light-text h2 span,
.is-wrapper .is-light-text h3 span,
.is-wrapper .is-light-text h4 span,
.is-wrapper .is-light-text h5 span,
.is-wrapper .is-light-text p, .is-wrapper .is-light-text li, .is-wrapper .is-light-text a{
  color: #fff;
}


.is-wrapper .is-dark-text, .is-wrapper .is-dark-text h1,.is-wrapper .is-dark-text h2,
.is-wrapper .is-dark-text h3, .is-wrapper .is-dark-text h4, .is-wrapper .is-dark-text h5,
.is-wrapper .is-dark-text h6, .is-wrapper .is-dark-text p, .is-wrapper .is-dark-text li{
  color: #111;
}
.is-social a > i {color: #333; color: #727272; }
.is-social a:hover > i {color: #08c9b9; color: #000000;}


.u78690-group-title-tags{
  font-family: Public Sans, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #545454;
}

  .u78690-group-title-tags .group-link-tags{
    font-size: 12px;
    color: #343434;
    display: inline;
  }
  .u78690-group-title-tags .group-link-tags.hover-text{
    color: #ffffff;
  }



.bg-photo-color{
  background: rgba(52,52,52, 0.05);
}

#cover_slider .overwrite-text a:hover{
  color: #000000;
}

  .user-logo-custom {
    width: auto;
  }

  .header-title-logo img{
    max-width: auto;
  }
  
  .column-2-container-header .header-title-logo img{
    width: auto;
  }

  @media  screen and (min-width: 1025px){  
    .header-title-logo img{
      max-width: auto;
    }

    .column-2-container-header  .header-title-logo img{
      width: auto;
    }
  }

  .user-logo-custom.user-logo-custom-proofing{
    max-width: 300px
  }





.is-global-btn{
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: .02em;
  padding: 0;
}

.is-global-btn:hover{
  color: #ffffff;
}


.is-global-btn span{
  font-family: Raleway, sans-serif;
  padding: 1.4em 2em ;


      border-radius: 0;
    
      background: #4b4b4b;
  }



.header-action-cta .is-global-btn{
      background: #4b4b4b;
  }


.is-global-btn-small{
  font-size: 14px;
}
.is-global-btn-medium{
  font-size: 16px;
}

.is-global-btn-large{
  font-size: 18px;
}

@media  screen and (max-width: 1024px){
      .is-global-btn-small{
      font-size: 12.6px;
    }
  
      .is-global-btn-medium{
      font-size: 14.4px;
    }
  
      .is-global-btn-large{
      font-size: 18px;
    }
  }



.is-global-link{
  color: #727272;
  text-decoration: none;
  font-family: Public Sans, sans-serif;
}

.is-global-link:hover{
  color: #000000;
  text-decoration: none;
}

.is-global-inset-val{
  padding-left: 8vw;
  padding-right: 8vw;
}

.is-global-btn-inverted span{
  background: #ffffff;
  color: #4b4b4b;
}

.is-wrapper > div.is-section-10 .is-content-top .is-container{margin-top: 8vmax;}
.is-wrapper > div.is-section-25 .is-content-top .is-container{margin-top: 8vmax;}

.is-wrapper > div.is-section-10 .is-content-bottom .is-container{margin-bottom: 8vmax; }
.is-wrapper > div.is-section-25 .is-content-bottom .is-container{margin-bottom: 8vmax;}


.is-wrapper > div.is-section-pagewith_max, .content-width-site_width{
  max-width: 1200px;
}



is-global-btn-solid, .is-wrapper a.is-global-btn-solid, .header-action-cta .is-global-btn-solid{
  font-family: Raleway, sans-serif;
  color: #ffffff;
  fill: #ffffff;
  font-weight: bold;
  padding: 1.4em 2em ;
  letter-spacing: .02em;
  background: #4b4b4b;

      border-radius: 0;
  }

.is-global-btn-solid:hover, .is-wrapper a.is-global-btn-solid:hover, .header-action-cta .is-global-btn-solid:hover{
  font-family: Raleway, sans-serif;
  fill: #ffffff;
  opacity: 0.8;
  color: #ffffff;
}

.is-global-btn-outline, .is-wrapper a.is-global-btn-outline, .header-action-cta .is-global-btn-outline{

  font-family: Raleway, sans-serif;
  color: #ffffff;
  fill: #ffffff;
  font-weight: bold;
  padding: 1.4em 2em ;
  letter-spacing: .02em;
  border: 1px solid #4b4b4b;
  color: #4b4b4b;
  fill:  #4b4b4b;
  background: none;

      border-radius: 0;
    
}

.is-global-btn-outline:hover, .is-wrapper a.is-global-btn-outline:hover, .header-action-cta .is-global-btn-outline:hover{
  font-family: Raleway, sans-serif;
  fill: #ffffff;
  background: #4b4b4b;
  color: #ffffff;
}

.is-global-btn-link, .is-wrapper a.is-global-btn-link, .header-action-cta .is-global-btn-link{

  font-family: Raleway, sans-serif;
  color: #ffffff;
  fill: #ffffff;
  font-weight: bold;
  padding: 1.4em 2em ;
  letter-spacing: .02em;
  padding: 5px 0;
  background: none;
  border-bottom: 2px solid #ffffff;
  opacity: 0.7

      border-radius: 0;
    
}


.is-global-btn-link:hover, .is-wrapper a.is-global-btn-link:hover, .header-action-cta .is-global-btn-link:hover{
  font-family: Raleway, sans-serif;
  fill: #ffffff;
  color: #ffffff;
  opacity: 1;  
}

.is-global-btn-solid.is-global-btn-inverted:hover, .is-wrapper a.is-global-btn-solid.is-global-btn-inverted:hover{
  font-family: Raleway, sans-serif;
  opacity: 0.8;
  color: #4b4b4b;
  fill: #4b4b4b;
}


.is-global-btn-outline.is-global-btn-inverted:hover, .is-wrapper a.is-global-btn-outline.is-global-btn-inverted:hover{
  font-family: Raleway, sans-serif;
  background: #4b4b4b;
  border: 1px solid #4b4b4b;
  color: #ffffff;
  fill: #ffffff;
}



.is-global-btn, .is-wrapper a.is-global-btn{
  font-family: Raleway, sans-serif;
  color: #ffffff;
  fill: #ffffff;
  font-weight: bold;
  padding: 1.4em 2em ;
  letter-spacing: .02em;

      border-radius: 0;
    

      background: #4b4b4b;
  }

.is-global-btn:hover, .is-wrapper a.is-global-btn:hover{
  font-family: Raleway, sans-serif;
  fill: #ffffff;
      opacity: 0.8;
    color: #ffffff;
  }

.is-global-btn:hover .button-icon svg, .is-global-btn-solid:hover .button-icon svg, .is-global-btn-outline:hover .button-icon svg, .is-global-btn-link:hover .button-icon svg, .header-action-cta .is-global-btn-solid:hover .button-icon svg, .header-action-cta .is-global-btn-outline:hover .button-icon svg, .header-action-cta .is-global-btn-link:hover .button-icon svg, {
  fill: #ffffff;
}

.is-global-btn-inverted, .is-wrapper a.is-global-btn-inverted{ 
      background: #ffffff;
    color: #4b4b4b;
    fill: #4b4b4b;
    border: 1px solid #ffffff;
  }

.is-global-btn.is-global-btn-inverted:hover, .is-wrapper a.is-global-btn.is-global-btn-inverted:hover{
      font-family: Raleway, sans-serif;
    opacity: 0.8;
    color: #4b4b4b;
    fill: #4b4b4b;
  }

.is-global-btn-small{
  font-size: 14px;
}
.is-global-btn-medium{
  font-size: 16px;
}

.is-global-btn-large{
  font-size: 18px;
}

.is-global-link, a.is-global-link{
  color: #727272;
  text-decoration: none;
  font-family: Public Sans, sans-serif;
}

.is-global-link:hover, a.is-global-link:hover{
  color: #000000;
  text-decoration: none;
}


.is-global-input-field{
  
}


.is-global-btn span.button-icon{
  padding: 0;
  border: none;
  background: none;
}


@media  screen and (min-width: 991px){
  .is-global-inset-val, .cover_slider_lightgallery.navigation_style-2 .lSAction, .cover_slider_lightgallery.navigation_style-3 .lSAction, .is-container-inset-val, .header-inset-value, .body-inset-value, .footer-inset-value, .full-height-container .stage-spacing-cover.body-inset-value, .body-full-width #store .product-container, .body-inset-value.group_navigation{
    padding-left: 8vw;
    padding-right: 8vw;
  }

  .is-wrapper-new .is-box .is-box-centered, .is-wrapper-new .is-box .is-box-centered .dynamic-component .is-box-centered{
    padding-left: 8vw;
    padding-right: 8vw;
  }
}

.is-wrapper-new > div.is-section-pagewith_max .is-boxes, .is-wrapper-new .is-container.is-content-width_large, .is-wrapper-new .is-container.is-content-width_medium, .is-wrapper-new .is-container.is-content-width_small, .is-wrapper-new .is-container.is-content-width_extsmall, .cover_slider_lightgallery .overwrite-text.slider-box-position .slider-box.is-content-width_large, .is-global-site-width{
  max-width: 1200px !important;
}

.is-wrapper-new > div.is-section-fullwidth_inset.is-box .is-overlay {
  top: 8vw;    
  width: calc(100% - 16vw);
  right: 0;
  margin: 0 auto;
  height: calc(100% - 16vw);
}

.is-wrapper-new > div.is-section-pagewith_max.is-box .is-overlay{
  max-width: 1200px;
  right: 0;
  margin: 0 auto;
}

.coversection-pagewith_max, .header-site-width, .footer-site-width, .body-site-width{
  max-width: 1200px;
  margin: 0 auto;
}

.is-wrapper > div.is-section-fullwidth_inset, .coversection-fullwidth_inset{
  padding: 8vw;
}

.cover_slider_lightgallery.coversection-fullwidth_inset{
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 16vw);
}

.cover_slider_lightgallery.coversection-fullwidth_inset .player-play-pause{
  bottom: 9vw;
  right: 9vw;
}

.cover_slider_lightgallery.coversection-fullwidth_inset .down-arrow{
  bottom: 4vw;
}

.border-color-tb{
  border-top: 1px solid rgba(52,52,52, 0.1);
}

.cover_slider_lightgallery .overwrite-text.slider-box-position .slider-box .slider-box-content.content-top .slider-box-content-width{
  margin-top: 8vh;
}

.cover_slider_lightgallery .overwrite-text.slider-box-position .slider-box .slider-box-content.content-bottom .slider-box-content-width{
  margin-bottom: 8vh;
}

.is-wrapper-new > div .is-box-centered.is-content-top .is-container{margin-top: 8vh;}
.is-wrapper-new > div .is-box-centered.is-content-bottom .is-container{margin-bottom: 8vh;}


.u78690-header-nav{
  font-family: Public Sans, sans-serif;
  font-weight: 400;
}

.menu-icon{
  width: 20px;
  height: 20px;
}

.header .header-wrapper .header-inner .cart-twosome, .nav-list-common .cart-twosome, .column-2-container-header .floating-cart-button .cart-twosome{
  background: #4d4d4d;
  color: rgba(255,255,255,1);
}

.menu-icon.menu-icon-footer{
  width: 14px;
  height: 14px;
}

@media  screen and (max-width: 1200px){
  .is-wrapper > div.is-section-pagewith_max{
    padding: 0 8vw;
  }
}

@media  screen and (min-width: 1025px){
  .is-wrapper .is-box .is-box-centered{
    padding-left: 8vw;
    padding-right: 8vw;
  }

  .is-global-link-spacing, .header-layout-nav-right .header-nav-item:not(:first-child),
  .header-layout-nav-left .header-nav-item{
    margin-left: 2vw;
  }
  
  .header-actions-social-button-right .header-actions-item.header-action-social .menu-icon:not(:first-child),
  .header-actions-social-button-right .header-actions-item.header-action-cart-search .menu-icon:not(:first-child),
  .header-actions-social-button-left .header-actions-item.header-action-social .menu-icon:not(:first-child),
  .header-actions-social-button-left .header-actions-item.header-action-cart-search .menu-icon:not(:first-child){
    margin-left: 1.5vw;
  }

  .header-layout-logo-nav-center .header-nav-item, .header-layout-logo-center-nav-left-right .header-nav-item, .header-layout-nav-center .header-nav-item{
    margin-left: 1vw;
    margin-right: 1vw
  }

  .is-global-element-spacing, .header-actions-social-button-right .header-actions-item, .header-actions-social-button-right .header-actions-item.header-action-social .menu-icon:first-child, .header-layout-logo-center-nav-left-right .header-nav-left{
    margin-left: 3vw;
  }

  .header-layout-nav-right .header-nav .header-nav-wrapper, .header-layout-logo-center-nav-left-right .header-actions-social-button-right{
    padding-left: 3vw;
  }

  .header-layout-logo-center-nav-left-right .header-actions-social-button-left{
    padding-right: 3vw;
  }

  .header-layout-logo-nav-center .header-nav{
    margin-top: 3vh;
  }

  .header-layout-nav-left .header-title{
    margin-right: 3vw;
  }
  .header-layout-logo-center-nav-left-right .site-logo-yes .header-actions-social-button-left, .header-layout-logo-center-nav-left-right .site-logo-yes .header-actions-social-button-right{
    width: calc((100% -  / 2) - 6vw);
  }

  
  .column-2-container-header .header-nav-list .header-nav-item{
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .column-2-container-header .header-inner .header-nav-wrapper .header-nav-list .header-nav-item .header-nav-is-dropdown-content{
    margin-top: 1vh;
  }

  .column-2-container-header .header-actions-social-button .header-actions-item, .column-2-container-header .header-nav-wrapper{
    margin-top: 3vh;
  }

  .column-2-container-header .header-actions-social-button .header-actions-item.header-action-social .menu-icon:not(:first-child),
  .column-2-container-header .header-actions-social-button .header-actions-item.header-action-cart-search .menu-icon:not(:first-child),
  .column-2-container-footer .container-footer-spacing .vert-footer-item a:not(:first-child), .column-2-container-footer .container-footer-spacing .vert-footer-item.share-text{
    margin-left: 1.5vw;
  }

  .column-2-container-wrapper .content-sidebar.header-right{
    right: 0%
  }

  .column-2-container-wrapper .content-sidebar{
    width: 250px;
  }

  .column-2-container-wrapper .main-contant-wrapper{
    width: calc(100% - 250px);
  }

  .column-2-container-wrapper .main-contant-wrapper.main-contant-left{
    margin-right: 250px;
  }

  .column-2-container-wrapper .main-contant-wrapper.main-contant-right{
    margin-left: 250px;
  }
  
}

@media  screen and (max-width: 1024px){
  .is-wrapper h1, .u78690-primary-text, .wysiwyg-editor h1, .pixpa-heading-content h1, .u78690-heading1-text{
    font-size: 40px;
  }

  .is-wrapper h2, .wysiwyg-editor h2, .pixpa-heading-content h2, .u78690-heading2-text{
    font-size: 34px;
  }

  .is-wrapper h3, .wysiwyg-editor h3, .pixpa-heading-content h3, .u78690-heading3-text{
    font-size: 25px;
  }

  .is-wrapper h4, .wysiwyg-editor h4, .pixpa-heading-content h4, .u78690-heading4-text{
    font-size: 16px;
  }

  .wysiwyg-editor p, .pixpa-heading-content p, .is-wrapper p, .is-wrapper p:not(.u78690-secondary-text), 
  .u78690-secondary-text, .pixpa-lg-sub-html, .lg-sub-html{
    font-size: 16px;
  }

  .u78690-secondary-text-small, .is-wrapper p.u78690-secondary-text-small, .is-wrapper p.secondary-text-small, .list-title-heading p.u78690-secondary-text-small, .pixpa-heading-content p.secondary-text-small {
    font-size: 13px;
  }

  .u78690-secondary-text-large, .is-wrapper p.u78690-secondary-text-large, .is-wrapper p.secondary-text-large, .list-title-heading p.u78690-secondary-text-large, .pixpa-heading-content p.secondary-text-large{
    font-size: 18px;
  }  

  .header-title-nav-mobile-wrapper .header-nav-item a, .header-nav-is-dropdown-item a{
    font-size: 24px;
  }

  .header-title-text{
    font-size: 22px;
  }

  
  .header-actions-social-button .header-action-cart-search .menu-icon, .header .header-wrapper .header-pixpa-burger.u78690-primary-mobile-bg .mob-menu{
    width: 18px;
    height: 18px;
  }

  .header .header-wrapper .header-pixpa-burger.u78690-primary-mobile-bg, .header-actions-item:not(.header-action-cta) a{
    font-size: 18px;
  }
}


.themes-v2-container-layout-10 .themes-v2-container-inner  .header-nav-item:not(:first-child):not(:last-child), .themes-v2-container-layout-10 .themes-v2-container-inner  .header-nav-item .header-nav-is-dropdown-content .header-nav-is-dropdown-item:not(:first-child):not(:last-child){
  margin-top: 1vh;
  margin-bottom: 1vh
}

.themes-v2-container-layout-10 .themes-v2-container-inner  .header-nav-item:first-child, .themes-v2-container-layout-10 .themes-v2-container-inner  .header-nav-item .header-nav-is-dropdown-content .header-nav-is-dropdown-item:first-child{
  margin-bottom: 1vh
}

.themes-v2-container-layout-10 .themes-v2-container-inner  .header-nav-item:last-child, .themes-v2-container-inner  .header-nav-item .header-nav-is-dropdown-content .header-nav-is-dropdown-item:last-child{
  margin-top: 1vh;
}

.blog-comments-count.u78690-secondary-text-large{
  color: #343434;
  font-size: 22px;
  text-align: left;
}


.blog-post-item .navigation-blocks a.u78690-secondary-text-large{
  font-size: 22px;
}

.blog-post-item .navigation-blocks a.u78690-secondary-text-large svg{
  fill: #343434
}


#builder-with_text-items[data-layout="layout10"] .faqs-grid-container .grid-list .grid-list-item.block_divider{
  border-right: 1px solid rgba(52,52,52, 0.3);
}

#builder-with_text-items[data-layout="layout10"] .faqs-grid-container .grid-list .grid-list-item.block_divider:last-child{
  border-right: 0;
}

.is-wrapper h1, .is-wrapper h2, .is-wrapper h3, .is-wrapper h4, .is-wrapper h5, .is-wrapper h6, .wysiwyg-editor h1, .wysiwyg-editor h2, .wysiwyg-editor h3, .wysiwyg-editor h4, .wysiwyg-editor h5, .wysiwyg-editor h6, .column h1, .column h2, .column h3, .column h4, .column h5, .column h6{
  margin: 0.5em 0;
}

.is-wrapper p, .wysiwyg-editor p, .column p{
  margin: 1em 0;
}

.blog-pagination.u78690-secondary-text .pagination .page-item, .blog-pagination.u78690-secondary-text .pagination .page-item a, .blog-pagination-proofing.u78690-secondary-text .pagination .page-item, .blog-pagination-proofing.u78690-secondary-text .pagination .page-item a{
  fill: #343434;
  color: #343434;
}

@media  screen and (max-width: 768px){
  #builder-with_text-items[data-layout="layout10"] .faqs-grid-container .grid-list .grid-list-item.block_divider{
    border-bottom: 1px solid rgba(52,52,52, 0.3);
    border-right: 0;
  }

  #builder-with_text-items[data-layout="layout10"] .faqs-grid-container .grid-list .grid-list-item.block_divider:last-child{
    border-bottom: 0;
  }

  .is-wrapper > div.is-section-fullwidth_inset{
    padding: 0;
  }
}

@media  screen and (min-width: 1024px){
  .bypass-header-yes .header-action-cta .is-global-btn{
          background: #4b4b4b;
      border: none !important;
      }

  .bypass-header-yes .header-action-cta .is-global-btn-solid{
    background: #4b4b4b;
    border: none !important;
  }

  .bypass-header-yes .header-action-cta .is-global-btn-outline{
    border: 1px solid #fff;
  }

  .bypass-header-yes .header-action-cta .is-global-btn-link{
    border-bottom: 2px solid #fff !important;
  }



  .bypass-header-yes .header-actions-item.header-action-cart-search .search-input-container * {
    color: #343434 !important;
    fill: #343434 !important;
  }
}


#group[data-layout="11"] .grid .grid-item .link-title-wrapper{
  padding-left: 8vw;
  padding-right: 8vw;
}





